{% include base_path %}

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a rel="nofollow">dorito and mtn dew</a> &amp; <a href="https://randomsource.club">randomsource</a></div>

<p font-size=2px>do not copy my website or you will go to jail</p>
